<section class="fifth">
	<div class="container">
		<div class="fifth__text-container">
			<h2 class="fifth__title">Илон Маск <span class="fifth__title--part">рекомендует</span>
				Crypto Bank Breaker</h2>
			<p class="fifth__text">
				“Я хотел проверить Crypto Bank в деле и инвестировал €1000 для начала. Программа создала большой резонанс на рынке.
				Мне
				было интересно сколько на этом можно заработать и я зарегистрировал себе аккаунт.
				<br> <br>
				Через 3 дня на моем счету было больше €4720. Мои юристы проверили безопасность данной программы и она полностью
				соответствует европейскому стандарту. Заработать может любой желающий. Так и запишите — Илон Маск рекомендует”.
			</p>
		</div>
		<div class="fifth__video-container">
			<video id="video2" controls src="https://wtcprojects.com/video/cbb/2.mp4" loop reload="auto"
				class="fifth__video">
			</video>
		</div>
	</div>
</section>