<section class="fourth">
	<div class="container">
		<h3 class="fourth__title">Зарабатывайте с нами:</h3>
		<div class="row row-cols-1 row-cols-md-3 g-4 fourth__row">
			<div class="col fourth__col">
				<div class="card fourth__card">
					<img src="../img/fourth/icon-1.svg" class="card-img-top fourth__card-img" alt="...">
					<div class="card-body fourth__card-body">
						<h5 class="card-title fourth__card-title">Безопасно</h5>
						<p class="card-text fourth__card-text">Каждая операция защищена 128-битным шифрованием</p>
					</div>
				</div>
			</div>
			<div class="col fourth__col">
				<div class="card fourth__card">
					<img src="../img/fourth/icon-2.svg" class="card-img-top fourth__card-img" alt="...">
					<div class="card-body fourth__card-body">
						<h5 class="card-title fourth__card-title">Ничем не рискуя</h5>
						<p class="card-text fourth__card-text">Алгоритмы заработка обновляются ежедневно</p>
					</div>
				</div>
			</div>
			<div class="col fourth__col">
				<div class="card fourth__card">
					<img src="../img/fourth/icon-3.svg" class="card-img-top fourth__card-img" alt="...">
					<div class="card-body fourth__card-body">
						<h5 class="card-title fourth__card-title">Быстро</h5>
						<p class="card-text fourth__card-text">Прибыль начисляется в реальном времени</p>
					</div>
				</div>
			</div>
			<div class="col fourth__col">
				<div class="card fourth__card">
					<img src="../img/fourth/icon-4.svg" class="card-img-top fourth__card-img" alt="...">
					<div class="card-body fourth__card-body">
						<h5 class="card-title fourth__card-title">На связи</h5>
						<p class="card-text fourth__card-text">Ваш персональный куратор ответит на любой вопрос 24/7</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>