<div class="desktop-header">
	<!-- <div class="container"> -->
		<section class="timer-section">
			<div class="container">
				<div class="timer-container">
					<p class="timer__text">Бесплатный доступ будет закрыт через:
					</p>
					<div class="timer" id="timer"><span class="hours"></span> <span class="minutes"></span> <span
							class="seconds"></span>
						<p class="word-hours">часов</p>
					</div>
				</div>
			</div>
		</section>
		
		<header class="header">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center header__logo-container">
					<img src="../img/header/logo1.svg" alt="" class="header__logo header__logo_1">
					<div class="header__count">
						<p class="header__count-place">На сайте</p>
						<div class="header__count-box">
							<p class="header__count-num">123</p>
							<p class="header__count-who">человека</p>
						</div>
					</div>
				</div>
			</div>
		</header>
	<!-- </div> -->
</div>