<section class="second position-relative" id="second">
	<div class="container">
		<h2 class="second__title">Вчера банки зарабатывали на вас.
			Сегодня вы заработаете на банках
		</h2>
		<p class="second__text">Запустите сканирование, чтобы узнать количество доступных ошибок и сумму
			заработка через 3 дня</p>
		<button type="button" class="second__btn" id="second__btn">Найти ошибки</button>
	</div>
</section>

<div class="result-field" id="result-field">
	<div class="reresult-fieldsult-field__block">
		<div id="loading1" class="loading-value">
			Подключение к единой системе банковских отчетов…
		</div>
		<div id="loading2" class="loading-value">
			Сканирование европейских банков на наличие ошибок…
		</div>
		<div id="loading3" class="loading-value">
			Загрузка данных в алгоритм Crypto Bank Breaker…
		</div>
		<div id="loading4" class="loading-value">
			Расчет заработка
		</div>
	</div>
<div class="second-res" id="second-res">
	<!-- <div class="container"> -->
		<h4 class="second-res__title">Сканирование завершено!</h4>
		<div class="err-block">
			<p class="err-block__text">Найдено ошибок в банках Европы:</p>
			<p class="err-block__result">534</p>
		</div>
		<h4 class="second-res__earn-title">Найдено ошибок в банках Европы:</h4>
		<p class="second-res__earn">€1 534</p>
		<button type="button" class="second-res__btn scroll-btn">ЗАБРАТЬ ПРИБЫЛЬ</button>
	<!-- </div> -->

</div>
	<div id="myProgress">
		<div id="myBar"></div>
	</div>

	<div class="loader" id="loader">
		<div class="blue-line"></div>
	</div>
</div>

