<section class="seventh">
    <div class="container">
        <div class="card mb-3 seventh__card">
            <div class="row g-0 seventh__row">
                <div class="col-md-8 seventh__col-md-8">
                    <div class="card-body seventh__card-body">
                        <h5 class="card-title seventh__card-title">Зарегистрируйте аккаунт, <span
                                class="seventh__card-title--part">получите доступ к системе</span> Crypto Bank Breaker и
                            <span class="seventh__card-title--part">зарабатывайте деньги</span></h5>
                        <button type="button" class="scroll-btn seventh__card-btn">Оставить заявку</button>
                        <p class="card-text seventh__card-connect">За сегодня подключились
                        </p>
                        <p class="card-text seventh__card-connect-count">372 человека</p>
                    </div>
                </div>
                <div class="col-md-4 seventh__col-md-4-desktop">
                    <img src="../img/seventh/img.png" class="img-fluid rounded-start seventh__img-desktop" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 seventh__col-md-4">
        <img src="../img/seventh/img.png" class="img-fluid rounded-start seventh__img" alt="...">
    </div>
</section>