<section class="third">
	<div class="container">
		<div class="card mb-3 third__card">
			<div class="row g-0 third__row">
				<div class="col-md-8 third__col-md-8">
					<div class="card-body third__card-body">
						<h5 class="card-title third__card-title">Это легально?</h5>
						<p class="card-text third__card-text-1"><span class="third__card-text-1--part">Да, это легально!<br> </span>
						Деятельность Crypto Bank Breaker регулируется Европарламентом
						</p>
						<p class="card-text third__card-text-2">Ошибки банковских систем — обычное дело. Каждый день появляются десятки новых ошибок. Все они попадают в общий реестр.
						Некоторые ошибки исправляются, но большинство — нет.</p>
						<p class="card-text third__card-text-3">Программа Crypto Bank Breaker предоставляет <span class="third__card-text-3--part">доступ к реестру ошибок и использует алгоритм</span> собственной разработки <span class="third__card-text-3--part">ради
						получения прибыли.</span></p>
					</div>
				</div>
				<div class="col-md-4 third__col-md-4">
					<img src="../img/third/item1.png" class="img-fluid rounded-start third__img" alt="...">
				</div>
			</div>
		</div>
	</div>
</section>